@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Viga&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    @apply font-poppins text-gray-800
}

main {
    height: calc(100vh - 4rem);
    @apply p-8
}

h1, h2, h3, h4, h5, h6 {
    @apply font-viga
}

h1 {
    @apply text-5xl font-bold
}

h2 {
    @apply text-4xl font-semibold
}

h3 {
    @apply text-3xl font-medium
}

h4 {
    @apply text-2xl
}

h5 {
    @apply text-xl
}

h6 {
    @apply text-base
}

input:-webkit-autofill {
    color: #333333;
    /* Text color */
    transition: background-color 5000s ease-in-out 0s;
    /* Prevents flashing */
}

input:-webkit-autofill::first-line {
    color: #333333;
    /* Ensure the correct text color */
}

input[type="date"]::-webkit-datetime-edit {
    color: transparent;
    /* Hide default placeholder text */
}

input[type="date"]::-webkit-datetime-edit-year-field,
input[type="date"]::-webkit-datetime-edit-month-field,
input[type="date"]::-webkit-datetime-edit-day-field {
    color: black;
    /* Show date value */
}

.placeholder-text::-webkit-datetime-edit:before {
    content: "MM/DD/YYYY";
    /* Custom placeholder */
    color: gray;
    /* Placeholder text color */
}